In [3]:
!pip install faker

from faker import Faker
import random
import pandas as pd
from datetime import datetime, timedelta

fake = Faker('id_ID')  # Indonesian locale

Collecting faker
  Downloading Faker-25.3.0-py3-none-any.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 20.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-25.3.0

In [4]:
# Settings
num_users = 100
num_cars = 200
num_ads = 150
num_bids = 300
num_sales = 120

In [5]:
# Generate data for Cities
cities_data = [
    {'city_id': 1, 'city_name': 'Jakarta Utara', 'latitude': -6.1384, 'longitude': 106.8641},
    {'city_id': 2, 'city_name': 'Jakarta Pusat', 'latitude': -6.1865, 'longitude': 106.8341},
    {'city_id': 3, 'city_name': 'Jakarta Selatan', 'latitude': -6.2701, 'longitude': 106.8077},
    {'city_id': 4, 'city_name': 'Jakarta Timur', 'latitude': -6.2250, 'longitude': 106.9004},
    {'city_id': 5, 'city_name': 'Surabaya', 'latitude': -7.2575, 'longitude': 112.7521},
    {'city_id': 6, 'city_name': 'Bandung', 'latitude': -6.9175, 'longitude': 107.6191},
    {'city_id': 7, 'city_name': 'Medan', 'latitude': 3.5952, 'longitude': 98.6722},
    {'city_id': 8, 'city_name': 'Bekasi', 'latitude': -6.2383, 'longitude': 106.9756},
    {'city_id': 9, 'city_name': 'Malang', 'latitude': -7.9666, 'longitude': 112.6326},
    {'city_id': 10, 'city_name': 'Balikpapan', 'latitude': -1.2450, 'longitude': 116.8612},
    {'city_id': 11, 'city_name': 'Samarinda', 'latitude': -0.5021, 'longitude': 117.1536},
    {'city_id': 12, 'city_name': 'Bukittinggi', 'latitude': -0.3039, 'longitude': 100.3815},
    {'city_id': 13, 'city_name': 'Padang', 'latitude': -0.9470, 'longitude': 100.4172},
    {'city_id': 14, 'city_name': 'Bojonegoro', 'latitude': -7.1502, 'longitude': 111.8818},
    {'city_id': 15, 'city_name': 'Lamongan', 'latitude': -7.1285, 'longitude': 112.3135},
    {'city_id': 16, 'city_name': 'Denpasar', 'latitude': -8.6705, 'longitude': 115.2126},
    {'city_id': 17, 'city_name': 'Makassar', 'latitude': -5.1477, 'longitude': 119.4327},
    {'city_id': 18, 'city_name': 'Jombang', 'latitude': -7.5459, 'longitude': 112.2331},
    {'city_id': 19, 'city_name': 'Magelang', 'latitude': -7.4813, 'longitude': 110.2133},
    {'city_id': 20, 'city_name': 'Bogor', 'latitude': -6.5971, 'longitude': 106.8060}
]
cities_df = pd.DataFrame(cities_data)

In [6]:
# Generate data for Users
users_data = [{'user_id': i,
               'name': fake.name(),
               'contact_number': fake.numerify(text='08##########'),
               'city_id': random.choice(cities_df['city_id'].tolist())}
              for i in range(1, num_users + 1)]
users_df = pd.DataFrame(users_data)

In [7]:
# Car brands and models
car_brands = {
    'Toyota': ['Yaris', 'Calya', 'Fortuner', 'Avanza', 'Camry'],
    'Honda': ['Civic', 'CR-V', 'Jazz', 'Accord', 'BR-V'],
    'Nissan': ['Juke', 'X-Trail', 'March', 'Navara', 'Serena'],
    'Mazda': ['CX-5', 'MX-5', 'Mazda2', 'Mazda3', 'Mazda6'],
    'Daihatsu': ['Ayla', 'Terios', 'Sigra', 'Luxio', 'Sirion'],
    'Lexus': ['IS', 'ES', 'GS', 'LS', 'RX', 'NX'],
    'Mitsubishi': ['Pajero', 'Lancer', 'Outlander', 'Triton', 'Mirage'],
    'Suzuki': ['Swift', 'Ertiga', 'Vitara', 'Ciaz', 'Baleno'],
    'Isuzu': ['D-Max', 'MU-X', 'Elf', 'Traga'],
    'Mercedes-Benz': ['C-Class', 'E-Class', 'S-Class', 'GLE', 'GLS'],
    'BMW': ['3 Series', '5 Series', '7 Series', 'X5', 'X6'],
    'Audi': ['A4', 'A6', 'A8', 'Q5', 'Q7'],
    'Chevrolet': ['Cruze', 'Malibu', 'Colorado', 'Traverse'],
    'Ford': ['Mustang', 'Explorer', 'F-150', 'Escape', 'Focus']
}
body_types = ['SUV', 'Sedan', 'Hatchback', 'MPV', 'Crossover', 'Coupe', 'Coupe SUV', 'Wagon']

In [8]:
# Generate data for Cars
cars_data = [{'car_id': i,
              'brand': random.choice(list(car_brands.keys())),
              'model': random.choice(car_brands[random.choice(list(car_brands.keys()))]),
              'body_type': random.choice(body_types),
              'manufacture_year': random.randint(2009, 2024),
              'transmission_type': random.choice(['manual', 'automatic']),
              'color': fake.color_name(),
              'mileage': random.randint(0, 200000),
              'list_price': random.randint(70, 400) * 1000000}
             for i in range(1, num_cars + 1)]
cars_df = pd.DataFrame(cars_data)

In [9]:
# Generate data for Advertisements
ads_data = [{'ad_id': i,
             'user_id': random.choice(users_df['user_id'].tolist()),
             'title': f"For Sale: {random.choice(['Almost new', 'Well maintained'])} {cars_df.iloc[i-1]['brand']} {cars_df.iloc[i-1]['model']}",
             'car_id': i,
             'description': fake.text(),
             'price': cars_df.iloc[i-1]['list_price'],
             'posted_date': fake.date_between(start_date='-9y', end_date='today'),
             'allow_bargaining': random.choice([True, False])}
            for i in range(1, num_ads + 1)]
ads_df = pd.DataFrame(ads_data)

In [10]:
# Generate data for Bids
bids_data = [{'bid_id': i,
              'ad_id': random.choice(ads_df['ad_id'].tolist()),
              'user_id': random.choice(users_df['user_id'].tolist()),
              'bid_price': random.randint(50, 400) * 1000000,
              'bid_date': fake.date_between(start_date='-9y', end_date='today')}
             for i in range(1, num_bids + 1)]
bids_df = pd.DataFrame(bids_data)

In [11]:
# Generate data for Sales
sales_data = [{'sale_id': i,
               'ad_id': ads_df.iloc[i]['ad_id'],
               'buyer_id': random.choice(users_df['user_id'].tolist()),
               'seller_id': ads_df.iloc[i]['user_id'],
               'final_price': ads_df.iloc[i]['price'],
               'sale_date': ads_df.iloc[i]['posted_date'] + timedelta(days=random.randint(1, 30))}
              for i in range(num_sales)]
sales_df = pd.DataFrame(sales_data)